Standard: c++17
BasedOnStyle: Google
IndentWidth: 4
UseTab: Always
TabWidth: 4
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Right
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
IndentAccessModifiers: false
AccessModifierOffset: -4
# since we tend to have lots of braced initializers in the renderer, we want to make sure they look like:
# {
#     .field = value,
#     .field2 = value2,
# }
# and not:
# {.field = value,
#   .field2 = value2,
#}
BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: true