[submodule "modules/gelly-engine/vendor/FleX"]
	path = modules/gelly-engine/vendor/FleX
	url = https://github.com/NVIDIAGameWorks/FleX.git
[submodule "modules/gelly-engine/vendor/raylib"]
	path = modules/gelly-engine/vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "modules/gelly-engine/vendor/raygui"]
	path = modules/gelly-engine/vendor/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "modules/gelly-engine/vendor/glm"]
	path = modules/gelly-engine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "modules/gelly-engine/vendor/BSPParser"]
	path = modules/gelly-engine/vendor/BSPParser
	url = https://github.com/Derpius/BSPParser.git
[submodule "modules/gelly-renderer/test/vendor/SDL"]
	path = modules/gelly-renderer/test/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "modules/gelly-binary-module/vendor/gmod-module-base"]
	path = modules/gelly-binary-module/vendor/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base
	branch = development
[submodule "modules/gelly-binary-module/vendor/minhook"]
	path = modules/gelly-binary-module/vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "modules/gelly-binary-module/vendor/GMFS"]
	path = modules/gelly-binary-module/vendor/GMFS
	url = https://github.com/Derpius/GMFS.git
[submodule "modules/gelly-binary-module/vendor/DirectXMath"]
	path = modules/gelly-binary-module/vendor/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "modules/gelly-binary-module/vendor/BSPParser"]
	path = modules/gelly-binary-module/vendor/BSPParser
	url = https://github.com/Derpius/BSPParser.git
[submodule "modules/gelly-fluid-sim/test/vendor/imgui"]
	path = modules/gelly-fluid-sim/test/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/gelly-fluid-sim/test/vendor/SDL"]
	path = modules/gelly-fluid-sim/test/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "modules/gelly-fluid-sim/test/vendor/DirectXMath"]
	path = modules/gelly-fluid-sim/test/vendor/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "testbed/vendor/DirectXMath"]
	path = packages/testbed/vendor/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "testbed/vendor/SDL"]
	path = packages/testbed/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "testbed/vendor/fastgltf"]
	path = packages/testbed/vendor/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "testbed/vendor/imgui"]
	path = packages/testbed/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "testbed/vendor/tracy"]
	path = packages/testbed/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "modules/gelly-fluid-renderer/vendor/renderdoc"]
	path = packages/gelly/modules/gelly-fluid-renderer/vendor/renderdoc
	url = https://github.com/baldurk/renderdoc.git
[submodule "modules/gelly-fluid-sim/vendor/FleX"]
	path = packages/gelly/modules/gelly-fluid-sim/vendor/FleX
	url = https://github.com/NVIDIAGameWorks/FleX.git
[submodule "packages/gelly-gmod/vendor/gmod-module-base"]
	path = packages/gelly-gmod/vendor/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base
	branch = development
[submodule "packages/gelly-gmod/vendor/minhook"]
	path = packages/gelly-gmod/vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "packages/gelly-gmod/vendor/GMFS"]
	path = packages/gelly-gmod/vendor/GMFS
	url = https://github.com/Derpius/GMFS.git
[submodule "packages/gelly-gmod/vendor/tracy"]
	path = packages/gelly-gmod/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "packages/gelly/modules/gelly-fluid-renderer/vendor/tracy"]
	path = packages/gelly/modules/gelly-fluid-renderer/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "packages/gelly/modules/gelly-cpu-refs/vendor/raylib"]
	path = packages/gelly/modules/gelly-cpu-refs/vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "packages/gelly/modules/gelly-cpu-refs/vendor/DirectXMath"]
	path = packages/gelly/modules/gelly-cpu-refs/vendor/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "BSPParser"]
	url = https://github.com/yogwoggf/BSPParser
[submodule "packages/gelly-gmod/vendorBSPParser"]
	url = https://github.com/yogwoggf/BSPParser
[submodule "packages/gelly-gmod/vendor/BSPParser"]
	path = packages/gelly-gmod/vendor/BSPParser
	url = https://github.com/Derpius/BSPParser.git
[submodule "packages/gelly/modules/gelly-fluid-sim/vendor/DirectXMath"]
	path = packages/gelly/modules/gelly-fluid-sim/vendor/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "packages/gelly-gmod/vendor/PHYParser"]
	path = packages/gelly-gmod/vendor/PHYParser
	url = https://github.com/gelly-gmod/TAS-PHYParser.git
	branch = NONE-allow-solid-parsing
[submodule "packages/gelly-gmod/vendor/VDFParser"]
	path = packages/gelly-gmod/vendor/VDFParser
	url = https://github.com/TAServers/VDFParser.git
