.explanation {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	gap: 10px;
	width: 100%;

	padding: 2px;
}

.explanation-header {
	color: white;
	font-size: 2.4em;
	font-weight: bold;
	font-family: "Rubik", sans-serif;
	cursor: none;
}

.explanation-text {
	color: #aaa;
	font-size: 1.1em;
	font-weight: normal;
	font-family: "Rubik", sans-serif;
	cursor: none;
}
